<div class="container">
    <div class="column">
        <ul class="nav navbar-nav">
            <li><a href="/login">Переход на форму с логином</a></li>
        </ul>
        <button type="submit" class="btn btn-primary btn-sm" id="secretPageBtn">secret Page</button>
    </div>
<h5>Hi from main</h5>
</div>