<div class="container">
        <div class="column">
            <ul class="nav navbar-nav">
                <li><a href="/login">Переход на форму с логином</a></li>
            </ul>
        </div>
        <h1>Thi is secret page!!! Welcome!</h1>
    </div>
    