<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<main class="row h-100">
    <div class="col-sm-12 my-auto">
        <% include ../partials/loginForm %>
    </div>
</main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>